<!DOCTYPE html>
<html>
<head>
  <title> My AI Writing Assistant </title>
  <style>
    .chat-container {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 20px;
    }
    .chat-text {
      font-size: 15px;
    }
  </style>
</head>
<body>
  {% block content %}
    <h1>{% block title %} AI Writing Assistant {% endblock %}</h1>
    <div style="width: 90%; margin: auto">
        {% for chat in chats %}
            {% if loop.index % 2 == 0 %}
                {% set bg_color = '#e6f9ff' %}
                {% set role = "You" %}
            {% else %}
                {% set bg_color = '#eee' %}
                {% set role = "AI Writing Assistant" %}
            {% endif %}
            <div class="chat-container" style="background-color: {{ bg_color }}">
                <div class="chat-text">
                  <p><strong>{{ role }}</strong></p>
                  <p>{{ chat|safe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
  {% endblock %}

  <form id="myForm">
      <table width="90%" style="margin: auto;">
          <tr>
              <td>
                  <label for="message"><strong>Message: </strong></label>
              </td>
          </tr>
          <tr>
              <td>
                  <textarea id="message" name="message" required oninput="adjustTextareaHeight()" onkeydown="handleKeyPress(event)" style="width: 100%; height: auto; overflow-y: hidden"></textarea>
              </td>
          </tr>
          <tr>
              <td style="text-align: right;">
                  <button id="submitBtn" type="submit"><strong>Send</strong></button>
              </td>
          </tr>
      </table>
  </form>

   <script>
  // Redirect to the target route after a specified delay
  window.onload = function() {
    setTimeout(function() {
      window.location.href = "{{ url_for('chatbot',PID=PID,thread_id=thread_id,assistant_id=assistant_id,user_input=user_input,user_input_utc=user_input_utc) }}";
    }, 500); // Redirect after 5000 milliseconds (5 seconds)
  };
</script>

</body>
</html>
